# R Data Science PlayBook - Data Exploration

This PlayBook is used as reference material to all learnings in R. Starting from the basics as learned in modules in DataCamp courses, Microsoft Data Science Program and working with different datasets (personal learning). This PlayBook is not to give a full course on R, but it will help with the most common actions to perform, while doing a (Data Science) analysis of a dataset.

## Basic exploratory actions

### Look at the data

Explore the first 6 observations (rows) of the dataset

In [7]:
expl_x <- data.frame(x1=1:20,x2 =21:30,x3 =31:40,x4 =41:50)
head(expl_x)

  x1 x2 x3 x4
1 1  21 31 41
2 2  22 32 42
3 3  23 33 43
4 4  24 34 44
5 5  25 35 45
6 6  26 36 46

Explore the last 6 observations (rows) of the dataset

In [8]:
tail(expl_x)

   x1 x2 x3 x4
15 15 25 35 45
16 16 26 36 46
17 17 27 37 47
18 18 28 38 48
19 19 29 39 49
20 20 30 40 50

Look at the structure of the dataset

In [9]:
str(expl_x)

'data.frame':	20 obs. of  4 variables:
 $ x1: int  1 2 3 4 5 6 7 8 9 10 ...
 $ x2: int  21 22 23 24 25 26 27 28 29 30 ...
 $ x3: int  31 32 33 34 35 36 37 38 39 40 ...
 $ x4: int  41 42 43 44 45 46 47 48 49 50 ...

Look at the dimensions of the dataset

In [10]:
dim(expl_x)

[1] 20  4

## Finding Numeric and Categorical Columns in dataset

#### Numeric Columns

In every dataset you would like to find which columns are numeric columns (and with that the categorical columns or features). The numeric columns can be used in optimizing your model. For example by normalizing the data, grouping the categrocial features (for which you need to know the numeric columns and exclude them).

In [1]:
#First create a data frame with numeric and categorical data or use an exisiting datatset as input
x <- data.frame(v1=1:2,v2=1:2,v3=1:2,v4=as.factor(c("a example", "b example")))

nums <- sapply(x, is.numeric)

x[,nums]

  v1 v2 v3
1 1  1  1
2 2  2  2

Columns v1 to v3 are all numeric columns and column v4 not. In this example column v4 is excluded, which leaves us with the numeric columns only

### Categorical Columns

While excluding the numeric columns, we will be left with the categorical columns as shown below:

In [2]:
cat <- !sapply(x, is.numeric)

typeof(cat)

x[,cat]

[1] "logical"

[1] a example b example
Levels: a example b example

After splitting the data, it will be easier to do analysis on the dataset and create appropriate graphs and models.